{{!< default}}

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{asset "img/home-bg.jpg" }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{@blog.title}}</h1>
                    <hr class="small">
                    <span class="subheading">{{@blog.description}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          {{#foreach posts}}

            <div class="post-preview">
                <a href="{{url}}">
                    <h2 class="post-title">
                      {{{title}}}
                    </h2>
                    <h3 class="post-subtitle">
                      {{excerpt words="26"}}
                    </h3>

                </a>
                <p class="post-meta">Posted by <a href="{{author.url}}">{{author}}</a> {{date format='MMMM D, YY'}}</p>
            </div>

            <hr>

            {{/foreach}}

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>
